@page
@model Cofetaria_Sky.Pages.ContModel
@{
    ViewData["Title"] = "Contul meu";
}

<div class="page-content page-container" style="margin-top: 76px !important;" id="cont">

    <div class="row" style="width: 100%; margin: 0; height: 500px;">
        <div class="col-sm-5 bg-c-lite-green ">
            <div class="card-block text-center" style="margin-top: 50px;">


                @if (Model.MyUser.Image == null)
                {
                    <img id="img" src="/imagini/avatar.png" style="border-radius: 50%;
                    width: 200px;" alt="User-Profile-Image"><br />
                }
                else
                {
                    <center>
                        <div class="thumbnail" style="border-radius: 50%; margin-top: 15%; width: 200px; height: 200px; overflow: hidden !important;">
                            <img id="img" src="~/imagini/profil/@Model.MyUser.Image"
                                 style="width: 200px; height: 100%; overflow: hidden !important;" alt="User-Image"><br />
                        </div>
                    </center>
                }

                <h1 style="color: white;">@Model.MyUser.FirstName @Model.MyUser.LastName</h1>
                <p style="font-size: 30px;">
                    Email: @Model.MyUser.Email
                    <br />Număr de telefon: @Model.MyUser.PhoneNumber
                    <br />Adresă: @Model.MyUser.Address
                </p>
            </div>
        </div>

        <div class="col-sm-5" style="margin-top: 10px !important; padding-right: 0;">
            <h1 class="b-b-default"><strong>Comenzile mele</strong></h1>

            @if (Model.Orders.Count == 0)
            {
                <strong>Nu există nicio comandă</strong>
            }
            else
            {
                <table class="table table-hover" style="width: 100%;">
                    <thead>
                        <tr>
                            <th> Data </th>
                            <th> Adresa </th>
                            <th> Total </th>
                            <th> Detalii </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ord in Model.Orders)
                        {
                            <tr>
                                <td> @ord.Date.ToShortDateString() </td>
                                <td> @ord.Address </td>
                                <td> @ord.Total lei </td>
                                <td>
                                    <button style="border: none; height:30px !important; width: 30px !important; vertical-align: middle;
                                                    font-size:initial !important; background: none;" id=@ord.Id onclick="detalii_comanda(id)">
                                        <img src="~/imagini/detalii.jpg" style="width: 30px;" />
                                    </button>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>

        <div class="col-sm-2" style="margin-top: 10px !important; padding-right: 0; padding-bottom: 100px;">
            <ul class="list-group" style="width: auto; display: inline-block; text-align: center; height: 100%;">
                <li class="list-group-item" style="width: 150px; display: inline-block; text-align: center; padding: 0;">
                    <form method="post" asp-page-handler="Update">
                        <button id="actualizare" class="btn btn-primary" style="width: 140px !important;">Actualizare cont</button>
                    </form>
                </li>

                <li class="list-group-item" style="width: 150px; display: inline-block; text-align: center; padding: 0;">
                    <form method="post" asp-page-handler="ChangePassword">
                        <button class="btn btn-primary" style="width: 140px !important;">Schimbă parola</button>
                    </form>
                </li>

                <li class="list-group-item" style="width: 150px; display: inline-block; text-align: center; padding: 0;">
                    <form method="post" asp-page-handler="ChangeEmail">
                        <button class="btn btn-primary" style="width: 140px !important;">Schimbă email</button>
                    </form>
                </li>

                <li class="list-group-item" style="width: 150px; display: inline-block; text-align: center; padding: 0;">
                    <button class="btn btn-primary" style="width: 140px !important;"
                            onclick="detalii_comenzi(1)">
                        Detalii comenzi
                    </button>
                </li>

                <li class="list-group-item" style="width: 150px; display: inline-block; text-align: center; padding:0;">
                    <form method="post" asp-page-handler="Logout">
                        <button id="logout" class="btn btn-primary" style="width: 140px !important;">Deconectare</button>
                    </form>
                </li>
            </ul>

        </div>

    </div>
</div>

<script type="text/javascript">
    function detalii_comenzi(id) {
        var string = '/Account/Comenzi/' + id;
        window.location.href = string;
    }

    function detalii_comanda(id) {
        var string = '/Account/DetaliiComanda/' + id;
        window.location.href = string;
    }
</script>
